<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Provas</title>
    <style>
        .accordion-header {
            padding: 1rem;
            cursor: pointer;
            user-select: none;
        }

        .accordion-panel {
            display: none;
            padding: 1rem;
        }

        .accordion-item.active .accordion-panel {
            display: block;
        }
    </style>

    <script src="https://cdn.tailwindcss.com">
    </script>
    <script>function toggleAccordion(element) {
        element.parentElement.classList.toggle('active');
    }</script>
</head>
<body>
<div class="border-b">
    <div class="container px-4 flex items-center h-14">
        <a
                th:href="@{/}"
                class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Módulos
        </a>
        <a
                th:href="@{/usuario/listar}"
                class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Usuários
        </a>
        <a th:href="@{/prova/listar}"
           class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Provas
        </a>
        <a th:href="@{/turma/listar}"
           class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Turmas
        </a>
        <a th:href="@{/questao/listar}"
           class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Questões
        </a>
        <a th:href="@{/tipoUsuario/listar}"
           class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Tipos de Usuários
        </a>
    </div>
</div>
<div class="min-h-screen flex justify-center">
    <!--  container  -->
    <div class="p-8 w-5/6 w-5/6 md:w-2/3 lg:w-4/5 xl:w-4/5">
        <div class="flex items-center justify-between gap-8 p-4 md:p-6">
            <div class="mx-auto max-w-sm space-y-6">
                <div class="text-center space-y-2">
                    <h1 class="text-3xl font-bold">Formulário de Provas</h1>
                    <p class="text-gray-500 dark:text-gray-400">Entre com as informações da prova que deseja cadastrar.</p>
                </div>
                <form th:action="@{/prova/salvar}" th:object="${prova}" method="post" class="space-y-4">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="space-y-2">
                        <label class="peer-disabled:cursor-not-allowed text-sm font-medium leading-none peer-disabled:opacity-70"
                               for="titulo">Titulo</label>
                        <input
                                class="flex h-10 w-full rounded-md file:border-0 border file:bg-transparent px-3 py-2 text-sm file:text-sm file:font-medium border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="titulo"
                                placeholder="Insira o título da prova"
                                required
                                th:field="*{titulo}"
                        />
                    </div>

                    <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
                        <label for="user_type" class="text-sm font-medium leading-none">
                            Turma
                        </label>
                        <div class="relative">
                            <select id="user_type" name="user_type"
                                    class="block appearance-none w-full bg-white border border-gray-300 rounded-md py-2 px-3 leading-tight focus:outline-none focus:border-blue-500"
                                    th:field="*{turma.id}"
                                    onchange="updateButtonText(this.value)">
                                <option value="">Selecione uma turma</option>
                                <option th:each="turma : ${turmas}"
                                        th:value="${turma.id}"
                                        th:text="${turma.nome}"
                                        th:selected="${prova.turma != null and turma.id == prova.turma?.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="space-y-2">
                        <label for="nota" class="peer-disabled:cursor-not-allowed text-sm font-medium leading-none peer-disabled:opacity-70">Selecione uma nota de 1 a 10</label>
                        <input class="flex w-full rounded-md file:border-0 border file:bg-transparent px-3 py-2 text-sm file:text-sm file:font-medium border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                               id="nota" name="Nota" type="number" min="1" max="10" th:field="*{nota}" required >
                    </div>

                    <div>
                        <div class="relative mb-3">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <div
                                            class="accordion-header relative flex items-center justify-between font-semibold w-full bg-white border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                                            onclick="toggleAccordion(this)"
                                    >
                                        Adicionar questão

                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>

                                    </div>
                                    <div class="accordion-panel">

                                    </div>
                                </div>
                            </div>
                        </div>

<!--                        <div class="relative mb-3">-->
<!--                            <div class="accordion">-->
<!--                                <div class="accordion-item">-->
<!--                                    <div-->
<!--                                            class="accordion-header relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"-->
<!--                                            onclick="toggleAccordion(this)"-->
<!--                                    >-->
<!--                                        What is Material Tailwind?-->
<!--                                    </div>-->
<!--                                    <div class="accordion-panel">-->
<!--                                        We're not always in the position that we want to be at. We're constantly growing. We're constantly making mistakes. We're constantly trying to express ourselves and actualize our dreams.-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="accordion">-->
<!--                                <div class="accordion-item">-->
<!--                                    <div-->
<!--                                            class="accordion-header relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"-->
<!--                                            onclick="toggleAccordion(this)"-->
<!--                                    >-->
<!--                                        What is Material Tailwind?-->
<!--                                    </div>-->
<!--                                    <div class="accordion-panel">-->
<!--                                        We're not always in the position that we want to be at. We're constantly growing. We're constantly making mistakes. We're constantly trying to express ourselves and actualize our dreams.-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>

                    <button
                            class="inline-flex h-10 w-full items-center justify-center whitespace-nowrap rounded-md px-4 py-2 text-sm font-medium transition-colors ring-offset-background bg-primary text-primary-foreground hover:bg-primary/90 focus-visible:ring-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                            type="submit"
                    >
                        Submeter
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
