<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Tipo de Usuário</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="border-b">
    <div class="container px-4 flex items-center h-14">
        <a
                th:href="@{/}"
                class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Módulos
        </a>
        <a
                th:href="@{/usuario/listar}"
                class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Usuários
        </a>
        <a href="#"
           class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Provas
        </a>
        <a href="#"
           class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Questões
        </a>
        <a th:href="@{/tipoUsuario/listar}"
           class="inline-flex items-center h-full px-4 text-sm font-medium text-gray-500 hover:text-gray-900 focus:text-gray-900 focus:outline-none border-b-2 border-transparent hover:border-gray-900">
            Tipos de Usuários
        </a>
    </div>
</div>
<div class="min-h-screen flex justify-center">
    <!--  container  -->
    <div class="p-8 w-5/6 w-5/6 md:w-2/3 lg:w-4/5 xl:w-4/5">
        <div class="flex items-center justify-between gap-8 p-4 md:p-6">
            <div class="mx-auto max-w-sm space-y-6">
                <div class="text-center space-y-2">
                    <h1 class="text-3xl font-bold">Formulário de Tipo de Usuário</h1>
                    <p class="text-gray-500 dark:text-gray-400">Entre com as informações da sua conta.</p>
                </div>
                <form th:action="@{/tipoUsuario/salvar}" th:object="${tipoUsuario}" method="post" class="space-y-4">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="space-y-2">
                        <label class="peer-disabled:cursor-not-allowed text-sm font-medium leading-none peer-disabled:opacity-70"
                               for="name">Name</label>
                        <input
                                class="flex h-10 w-full rounded-md file:border-0 border file:bg-transparent px-3 py-2 text-sm file:text-sm file:font-medium border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="name"
                                placeholder="Enter your name"
                                required=""
                                th:field="*{nome}"
                        />
                    </div>
                    <button
                            class="inline-flex h-10 w-full items-center justify-center whitespace-nowrap rounded-md px-4 py-2 text-sm font-medium transition-colors ring-offset-background bg-primary text-primary-foreground hover:bg-primary/90 focus-visible:ring-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                            type="submit"
                    >
                        Submeter
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
